# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Data Files (optional)
# ==============================
data/

# ==============================
# Machine Learning Models
# ==============================
*.pkl
*.joblib
*.h5
*.pt
*.onnx

# 👉 Ignore ONLY your specific model file
backend/app/models/house_price_full_pipeline.pkl

# ==============================
# Build / Cache
# ==============================
dist/
build/
*.egg-info/

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Docker (optional)
# ==============================
*.tar
