version: "3.9"

services:

  backend:
    build: ./backend
    container_name: houseprice_backend
    ports:
      - "8000:8000"
    restart: always

  frontend:
    build: ./frontend
    container_name: houseprice_frontend
    ports:
      - "8501:8501"
    depends_on:
      - backend
    restart: always